.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





/*<Modal
                    isOpen={loginModelIsOpen}
                    style={customStyles}
                >
                    <div>
                        <h2>Login</h2>
                        <input type="text" placeholder='Email'/>
                        <br/>
                        <input type="password" placeholder='Password'/>
                        <div>
                            <button>Login</button>
                            <button onClick={this.handelcancel}>Cancel</button>
                        </div>
                        <GoogleLogin
                        clientId="478043280261-fnl8jm9sttgf7k4ro97qvd8bjdgktqh3.apps.googleusercontent.com"
                        buttonText="Continue with Google"
                        onSuccess={this.responseGoogle}
                        onFailure={this.responseGoogle}
                        cookiePolicy={'single_host_origin'}/>
                    </div>
                </Modal>/*